body{
    color: #fff;
    background: url(bg.png);
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

.box1{
    height: 80vh;
    width: 100%;
    text-align: center;
    margin-top: 10% ;
    
}

.box1 h1{
    font-size: 80px;
    margin-top: -20px;
    color: #3498db;
}

.box1 .headerspan{
    color: #2ecc71;
    font-weight: bolder;
}

.box1 p{
    font-size: 25px;
}

.box1 ul{
 
    margin-left: -20px;
    text-align: center;
}

.box1 ul li{
    display: inline-block;
    font-size: 30px;
    padding: 10px;
    height: 60px;
    width: 70px;
}

.box1 ul li a{
    padding: 10px;
    color: #f5f6fa;
}

.media:hover{
    background:#353b48;
    border-radius: 30px;
    border: 1px solid #fff;
    transition: .3s;
}

/* canvas for particles */
.background{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    color: #fff;
}